<footer>
    <img src="https://firebasestorage.googleapis.com/v0/b/mymonosushi.appspot.com/o/images%2Flogo%20(1).svg?alt=media&token=c7bc0dbf-b8fa-40b4-b06a-8bde60675cb5">
    
    <p class="copyright">© 2023 Monosushi</p>

    <div class="links">
        <p [routerLink]="[ '/actions']">Акції</p>
        <p [routerLink]="[ '/about-us']">Про нас</p>
        <p href="#">Оферта</p>
    </div>

    <div class="pay">
        <div><img src="https://firebasestorage.googleapis.com/v0/b/mymonosushi.appspot.com/o/images%2Fpay-card-img-1.svg?alt=media&token=f6a035ed-03b1-4adf-b238-e79cb8529ae1"></div>
        <div><img src="https://firebasestorage.googleapis.com/v0/b/mymonosushi.appspot.com/o/images%2Fpay-card-img-2.svg?alt=media&token=8c8e6107-ce3f-46aa-b394-81d08fc53c45"></div>
        <div><img src="https://firebasestorage.googleapis.com/v0/b/mymonosushi.appspot.com/o/images%2Fpay-card-img-3.svg?alt=media&token=c329bc8c-8ccc-4bf2-b34a-a8a839a5e32e"></div>
    </div>

    <div class="delivery">
        <h4>Точки самовивозу</h4>
        <p>вул. Володимира Великого, 10в</p>
        <p>вул. Чорновола 95</p>
    </div>

    <div class="social">
        <p>Слідкуйте за нами</p>
        <div><img src="https://firebasestorage.googleapis.com/v0/b/mymonosushi.appspot.com/o/images%2Ffacebook-icon.svg?alt=media&token=3fdc6107-3390-477a-a485-0e2b78f9b53f"></div>
        <div><img src="https://firebasestorage.googleapis.com/v0/b/mymonosushi.appspot.com/o/images%2Finstagram-icon.svg?alt=media&token=4f26fd9f-1784-4bd8-a5d9-accf24828fa5"></div>
    </div>

    <div class="order">
        <h4>Оформити замовлення</h4>
        <p>(097) 878 08 37</p>
    </div>

    <div class="time">
        <h4>Графік роботи</h4>
        <p>працюємо 11:00 до 23:59</p>
    </div>

    <div class="created">
        <p>Створення сайтів <b>A.S.A.P</b></p>
    </div>

</footer>