<form>
    <div>
        <span class="blue">1</span><span>Особисті дані</span>

    </div>
    <div>
        <input type="text" placeholder="*Ваше ім'я">
        <input type="text" placeholder="*Ваше прізвище">
    </div>
    <input type="text" placeholder="*Ваш номер телефону">
    <input type="text" placeholder="*Ваш номер емейл">
    <div>
        <span class="blue">2</span><span>Адреси</span>
    </div>
    <div>
        <input type="button" value="ДОДАТИ АДРЕСУ">
        <input type="button" value="ЗБЕРЕГТИ ЗМІНИ">
    </div>
</form>