<div class="options">
    <div class="option active">Всі</div>
    <div class="option">Філадельфія</div>
    <div class="option">Каліфорнія</div>
    <div class="option">Запечені</div>
    <div class="option">Фірмові</div>
    <div class="option">Макі</div>
    <div class="option">Преміум</div>
</div>

<div class="shop">
    <div class="card" *ngFor="let product of productArray">
        <img [src]="product.picturePath" [routerLink]="[ '/product-category/'+product.category, product.id ]">

        <h1 [routerLink]="[ '/product-category/'+product.category, product.id ]">{{ product.name }}</h1>

        <div class="top">
            <p>{{ product.ingredients }}</p>
            <p class="mass">{{ product.mass }}г</p>
        </div>

        <div class="order">
            <span>{{ product.price }} грн</span>
            <div class="count">
                <input (click)="productCount(product, false)" type="button" value="-">
                <p>{{ product.count }}</p>
                <input (click)="productCount(product, true)" type="button" value="+">
            </div>
            <input (click)="addToBasket(product)" type="button" value="ЗАМОВИТИ">
        </div>
    </div>
</div>