form{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    
    div{
        display: flex;
        gap: 10px;    
        margin-bottom: 20px;
    }

    input{
        height: 40px;
        padding-left: 10px;
        margin-bottom: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: bold;
    }



    input[type = "button"]{
        width: 50%;
        background-color: #B5D8F7;
        &:nth-of-type(1){
            background-color: transparent;
        }
    }

    span{
        font-weight: bold;
    }

}