<div class="wrap">
    <div class="left">
        <div [routerLink]="[ 'actions' ]" [routerLinkActive]="['adminActive']" class="option">
            <p>Акції</p>
        </div>
        <div [routerLink]="[ 'category' ]" [routerLinkActive]="['adminActive']" class="option">
            <p>Категорії</p>
        </div>
        <div [routerLink]="[ 'product' ]" [routerLinkActive]="['adminActive']" class="option">
            <p>Товари</p>
        </div>
        <div class="option">
            <p>Замовлення</p>
        </div>

        <button class="exit" (click)="logout()">ВИХІД</button>
    </div>
    <router-outlet></router-outlet>
</div>