<div class="wrap">
    <div class="left">
        <div [routerLink]="[ 'user-data' ]" [routerLinkActive]="['adminActive']" class="option">
            <p>Акції</p>
        </div>
        <div [routerLink]="[ 'orders' ]" [routerLinkActive]="['adminActive']" class="option">
            <p>Історія замовлень</p>
        </div>
        <div [routerLink]="[ 'password-change' ]" [routerLinkActive]="['adminActive']" class="option">
            <p>Зміна паролю</p>
        </div>
        
        <input class="exit" (click)="logout()" type="button" value="ВИХІД">
    </div>

    <router-outlet></router-outlet>

</div>
