<div>
    <div class="heading">
        <h1>Доставка та оплата</h1>
    </div>

    <div class="deliveryzone">
        <div class="zone">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymonosushi.appspot.com/o/images%2Fmn-delivery-img.svg?alt=media&token=8734910f-6530-4b34-b927-4179db236be9">
            <div>
                <h2 class="green">Зелена зона</h2>
                <p>В межах зеленої зони ми доставляємо протягом <b class="green">1 год.</b>
                    <br>
                    Мінімальна сума замовлення в цю зону становить <b class="green">300 грн</b>
                </p>
            </div>
        </div>

        <div class="zone">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymonosushi.appspot.com/o/images%2Fmn-delivery-img.svg?alt=media&token=8734910f-6530-4b34-b927-4179db236be9">
            <div>
                <h2 class="yellow">Жовта зона</h2>
                <p>В межах зеленої зони ми доставляємо протягом <b class="yellow">1.5 год.</b>
                    <br>
                    Мінімальна сума замовлення в цю зону становить <b class="yellow">400 грн</b>
                </p>
            </div>
        </div>

        <div class="zone">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymonosushi.appspot.com/o/images%2Fmn-delivery-img.svg?alt=media&token=8734910f-6530-4b34-b927-4179db236be9">
            <div>
                <h2 class="red">Зелена зона</h2>
                <p>В межах зеленої зони ми доставляємо протягом <b class="red">1.5 - 2 год.</b>
                    <br>
                    Мінімальна сума замовлення в цю зону становить <b class="red">500 грн</b>
                </p>
            </div>
        </div>

    </div>


</div>