<div>
    <div>
        <h1>Про нас</h1>
    </div>
    
    <h2>Monosushi – доставка неймовірно смачних суші у Львові.</h2>
    <p>Головний пріоритет – висока якість їжі та сервісу. Ми – команда професіоналів, яка щодня працює для<br>
        Вас. Якість та Швидкість! – це два основних пріоритети в роботі команди. В першу чергу звичайно ж
        <br> 
        Якість. Суші готуються без затримок, одразу ж після Вашого замовлення. А завдяки сучасним технологіям та
        відповідальному навчанню працівників, свіжі страви можливо доставляти до 59 хв в 75% замовлень.</p>
</div>