.wrap {
    width: 80vw;
    padding-left: 30px;

    .addAction {
        width: 250px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #AFD5F5;
        border-radius: 5px;
        font-weight: bold;
        transition: .5s;
        background-color: transparent;


        &:hover {
            background-color: #AFD5F5;
        }
    }

    table {
        width: 100%;

        div {
            height: 80px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 3px solid #AFD5F5;
        }

        td,
        th {
            height: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(5) {
                width: 10%;
                img{
                    width: 50px;
                }
            }

            &:nth-of-type(3) {
                width: 20%;
            }

            &:nth-of-type(4) {
                width: 30%;
            }

            &:nth-of-type(6) {
                width: 10%;
            }

        }
    }
}

.formWrap {
    margin: 30px 0 30px 0;
    width: 60%;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            input {
                width: 49%;
                height: 45px;
                border: 1px solid gray;
                border-radius: 8px;
                padding-left: 10px;
            }
        }

        .bottom{
            width: 100%;
            textarea{
                width: 100%;
                resize: none;
                padding-left: 10px;
                border-radius: 8px;
            }

            div{
                width: 100%;
                border: 1px solid gray;
                height: 45px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                border-radius: 8px;
                margin-bottom: 10px;

                input[type="file"]{
                    width: 100%;
                }
            }

            input[type="submit"]{
                width: 300px;
                height: 50px;
                border: none;
                border-radius: 5px;
                background-color: #AFD5F5;
                font-weight: bold;
            } 
            
        }
    }
}

.buttons {
    color: #AFD5F5;
    font-weight: bold;
}

.hiden{
    display: none;
}